*.pth
*.zip
*.wav
*.pyc
*.flac
*.DS_Store
*.requirements_ssast.txt
*.pickle
*.csv
*.pkl
*.png
*.npy
src/finetune/ciab/config.yml
src/finetune/ciab/exp/public/*
src/finetune/ciab/data/ciab/*
/src/finetune/ciab/wandb/*
/src/finetune/ciab/exp/inference/*
figure/*
!figure/10854_ssast.pdf
!figure/10854_ssast.png
pretrained_model/*
!pretrained_model/README.md
src/models/check_load_model.py
src/models/copy_process_pretrain.py
src/models/ast_model_uni.py
src/finetune/superb/s3prl-master/*
.idea/*
venvssast/*
src/finetune/ciab/data/datafiles/*
src/finetune/ciab/figs/*
src/prep_data/coughvid/data/*
